@import url(elements.css);
body {
    /*scroll-behavior: smooth;*/
}




.main {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 25px;
}
    .main__vertical-menu {
        position: sticky;
        top: 25px;
        padding-bottom: 50px;
    }

    .main__content {
    }
            .main__story-label,
            .main__feedback-label,
            .main__videos-label {
                scroll-behavior: smooth;
            }

        .story-section {
            margin-bottom: 50px;
        }

            .story-section__owner-img {
                float: left;
                width: 40%;
                min-width: 300px;
                object-fit: cover;
                margin-right:  25px;
            }

            .story-section__car-img {
                float: right;
                width: 40%;
                object-fit: cover;
                margin-left: 15px;
            }

            .story-section__text-heading {
                color: #1cc254;
                text-align: center;
                margin-top: 0;
                margin-bottom: 10px
            }

            .story-section__text {
                text-indent: 50px;
                font-size: 20px;
                margin-top: 0;
                margin-bottom: 10px
            }


        .feedback-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            row-gap: 25px;
        }


        .videos-section {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            row-gap: 25px;
        }










