*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
}




/*------------------------------------*\
    #ELEMENTS
\*------------------------------------*/

.link,
.link:hover,
.link:active {
    color: inherit;
    text-decoration: none;
}



.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
}



.ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



.logo {
    display: flex;
    font-size: 45px;
    transition: opacity 0.3s;
}
.logo:hover {
    opacity: 0.8;
}

.logo__part-monte {
    color: #1cc254;
    border: 2px solid #1cc254;
    border-right: 1px solid #1cc254;
    font-weight: 900;
}

.logo__part-rent {
    color: black;
    border: 2px solid black;
    border-left: 1px solid black;
    font-weight: 600;
}



.green-button {
    height: 40px;
    padding: 0;
    color: white;
    background-color: #1cc254;
    border: none;
    transition: background-color 0.25s;
}
.green-button:hover {
    background-color: #18a247;
    cursor: pointer;
}

.green-button__text {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.green-button__svg {
    fill: white;
}


.topic-label {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;

    background-color: #CFF1D9;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
}


.hover:hover{
    opacity: 0.8;
    cursor: pointer;
}




.ig-post {
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 5px;
}

.ig-post__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ig-post__photo-nick-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ig-post__profile-photo {
    padding: 8px;
    width: 45px;
    border-radius: 50px;
}

.ig-post__profile-nickname {
    font-weight: 600;
    font-size: 15px;
}


.ig-post__view-profile-btn {
    margin: 5px;
    padding: 4px 8px;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: white;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}
.ig-post__view-profile-btn:hover {
    background-color: #007bff;
    color: white;
}

.ig-post__buttons {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid rgba(0,0,0,0.125);
}
.ig-post__like-btn {
    margin-right: 8px;
}

.ig-post__photo {
    display: inline-block;
    width: 350px;
}

.ig-post__description {
    padding: 8px;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
}




.watch-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 50px;
}

.watch-more__button {
    padding: 5px 10px;
    font-size: 16px;
}



/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header{
    margin-bottom: 25px;
}
.header__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__info {
    display: flex;
    align-items: center;
}

.tel {
    display: flex;
    align-items: center;

}

    .tel__number {
        font-size: 20px;
        transition: opacity 0.3s;
    }

    .tel__hours-label {
        font-size: 12px;
        text-align: right;
    }

.tel__watch-container {
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-size: 26px;
    margin-left: 5px;
    margin-right: 1px;
    height: 40px;
    vertical-align: center;
    border: 1px solid #1cc254;

}
.tel__watch {
    margin: 0;
}

.tel__colon--hidden {
    visibility: hidden;
}



.header__buttons {
    display: flex;
}

.header__acc-button {
    padding: 0 20px;
}

.header__cart-button {
    margin-left: 1px;
}


.header__lower {
    background-color: #333;
}
.header__lower-inner {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.85);
    height: 50px;
    font-weight: 400;
}


.menu {

}

.menu-list {
    display: flex;

}

.menu__item {
    height: 50px;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: background-color 0.2s;
    border-left: 2px solid #4d4d4d;
}
.menu__item:hover {
    background-color: #4d4d4d;
    cursor: pointer;
}

.menu__last-item {
    border-right: 2px solid #4d4d4d;
}


.menu__link-underline {
    width: 100%;
    border-bottom: 1px solid white;
    visibility: hidden;
}
.menu__link-underline--active {
    visibility: visible;
}




.header__form {
    position: relative;
    display: flex;
    align-items: center;
}
.header__search-input {
    width: 250px;
    height: 100%;
    padding-left: 10px;
    padding-right: 36px;

    background-color: #333333;
    border: none;
    border-left:  2px solid #4d4d4d;
    border-right: 2px solid #4d4d4d;
    outline: 0;

    font-family: inherit;
    color: inherit;
}
.header__search-input::placeholder {
    font-weight: 400;
}
.header__magnifier-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
}



/*------------------------------------*\
    #VERTICAL MENU
\*------------------------------------*/

.vertical-menu {
}

.vertical-menu__item {
    height: 70px;
    background-color: #1cc254;
    color: white;
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(77, 77, 77, 0.18);
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
    position: relative;
    transition: background-color 0.3s;
}
.vertical-menu__item:hover {
    background-color: #18a247;
    cursor: pointer;
}
.vertical-menu__item-title {
    margin: 0;
    padding: 0;
}
.vertical-menu__arrow {
    position: absolute;
    right: 20px;
}




/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer {
    background-color: #333333;
    padding-top: 50px;
}

.footer__inner {
    padding: 40px 0;
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
}
.footer-column {

}
.footer__list-label {
    text-transform: uppercase;
    font-size: 22px;
    padding-bottom: 20px;
    color: #F4F4F4;
}

.footer__list {

}
.footer__list-item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: color .2s;
}
.footer__list-item:hover {
    color: #18a247;
    cursor: pointer;
}


.footer__copyright {
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}